$color-page: #232f3e;

.container-signup {
  background: #fff;
  max-width: 350px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.signup-center {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box-placeholder::placeholder {
  color: #8b8989;
}
.container-signup form .title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
  color: $color-page;
}
.container-signup form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
}
.container-signup form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container-signup form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container-signup form .underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container-signup form .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container-signup form .input-box input:focus ~ .underline::after,
.container-signup form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.container-signup form .button {
  margin: 40px 0 20px 0;
}
.container-signup .input-box .button-signup {
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container-signup .input-box .button-signup:hover {
  letter-spacing: 1px;
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
}
.container-signup {
  font-size: 14px;
  text-align: center;
}

.option-signup {
  font-size: 14px;
  text-align: center;
  color: red;
}

.container-signup .facebook a,
.container-signup .twitter a {
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.container-signup .facebook i,
.container-signup .twitter i {
  padding-right: 12px;
  font-size: 20px;
}
.container-signup .twitter a {
  background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container-signup .twitter a:hover {
  background: linear-gradient(to left, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container-signup .facebook a {
  background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
.container-signup .facebook a:hover {
  background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
