$color-page: #232f3e;

nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #232f3e;
  margin: 0;
  top: 0;
  z-index: 9999999;
}

.nav-router-page {
  font-size: 17px;
  font-weight: 600;
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-router-page-color {
  color: #ffff;
  font-size: 16px;
  text-decoration: none;
}
.nav-list-pages {
  display: flex;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}

.page-logo {
  display: flex;
  justify-content: center;
  width: 25%;
  height: auto;
  cursor: pointer;
}

.button-logout-style {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.container-button-logout {
  display: flex;
  align-items: center;
  border: none;
  color: $color-page;
  font-size: 20px;
}

.page-image-logo {
  width: 90px;
  height: 90px;
}

.text-status-link {
  color: white;
}
.menu-dropdown {
  display: none;
  align-items: center;
}

.icon {
  font-size: 45px;
  color: white;
  cursor: pointer;
  margin: 1rem 1rem;
}

.my-out-img {
  .image-guest {
    width: 30px;
    height: 30px;
  }
}

.dropdown-content {
  position: absolute;
  border-top: solid 2px white;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.greeting-guest-text {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 1vh;
}

.dropdown-content .dropdown-content-link {
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #ffff;
  color: $color-page;
  font-size: 20px;
  font-weight: 600;
}

.dropdown-menu-content-user {
  text-decoration: none;
  display: flex;
  background-color: #ffff;
  color: $color-page;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.dropdown-content-link-user {
  text-decoration: none;
  display: block;
  background-color: #ffff;
  color: $color-page;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.container-login-show {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content-link:hover {
  color: white;
  background-color: $color-page;
}

.guest-text-status {
  color: white;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu-content-user {
  display: none;
  position: absolute;
}

.dropdown-menu-user:hover .dropdown-menu-content-user {
  z-index: 999999;
  display: flex;
  border-radius: 5pt;
  flex-direction: column;
  padding: 10px 0px 10px 10px;
  margin-left: 20px;
  gap: 1em;
  border: 1px solid #072243;
}

.container-status-login {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .menu-dropdown {
    display: block;
  }

  .nav-router-page:hover {
    .guest-text-status {
      color: white;
    }
  }

  .button-logout-style {
    border: none;
    color: $color-page;
    font-size: 18px;
    background-color: white;
  }

  .guest-text-status {
    color: $color-page;
  }

  .page-image-logo {
    width: 80px;
    height: 80px;
  }

  .nav-list-pages {
    display: none;
    margin: 0;
    height: 0px;
  }
  .nav-router-page {
    .my-out-img {
      .image-guest {
        width: 30px;
        height: 30px;
        filter: brightness(0);
        -webkit-filter: brightness(0);
      }
    }
  }

  .nav-router-page:hover {
    .my-out-img {
      .image-guest {
        width: 30px;
        height: 30px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
      }
    }
  }

  nav {
    justify-content: space-between;
    background-color: $color-page;
    z-index: 9999999;
  }

  .container-input-information {
    justify-content: center;
  }
}
