$color-page: #232f3e;

.container-login {
  background: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  text-align: left;
}

.container-login-center {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
}

.input-box-placeholder::placeholder {
  color: #8b8989;
}
.container-login form .title {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  color: $color-page;
}
.container-login form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
}
.container-login form .input-box {
  width: 100%;
  height: 45px;
  position: relative;
}
.container-login form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.login-title-name {
  padding: 23px 0px 0px 0px;
  font-weight: 700;
}
.container-login form .underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container-login form .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.container-login form .input-box input:focus ~ .underline::after,
.container-login form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.container-login form .button {
  margin: 40px 0 20px 0;
}
.container-login .input-box .button-login {
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-login .input-box .button-login:hover {
  letter-spacing: 1px;
  background: linear-gradient(to right, $color-page 0%, #04ac9c 100%);
}

.error-message {
  text-align: center;
  color: red;
  font-size: 16px;
}

.option-login {
  font-size: 14px;
  text-align: center;
  color: red;
}

.container-login .facebook a,
.container-login .twitter a {
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.container-login .facebook i,
.container-login .twitter i {
  padding-right: 12px;
  font-size: 20px;
}
.container-login .twitter a {
  background: linear-gradient(to right, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container-login .twitter a:hover {
  background: linear-gradient(to left, #00acee 0%, #1abeff 100%);
  margin: 20px 0 15px 0;
}
.container-login .facebook a {
  background: linear-gradient(to right, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
.container-login .facebook a:hover {
  background: linear-gradient(to left, #3b5998 0%, #476bb8 100%);
  margin: 20px 0 50px 0;
}
