$color-page: #232f3e;
$color-text-white: #fff;
.medicine-footer {
  margin-top: auto;
  background: $color-page;
  padding: 40px 20px;
}

.footer-text-main {
  color: $color-text-white;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.footer-text-extra {
  color: $color-text-white;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.footer-input-out {
  border-radius: 28pt;
  border: 1px solid $color-text-white;
  background: transparent;
  padding: 5px 5px 5px 20px;
  outline: none;
  color: $color-text-white;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.footer-input {
  border: 0;
  background: transparent;
  width: 200px;
  outline: none;
  color: $color-text-white;
  font-size: 16px;
  font-weight: 600;
  z-index: 99999;
}

::placeholder {
  color: $color-text-white;
  font-size: 13px;
  font-weight: 600;
}

.footer-button {
  border-radius: 28pt;
  background: $color-text-white;
  padding: 7pt 20pt;
  margin: 0;
  outline: none;
  color: #8f8f8f;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  left: 240pt;
  border: 1px solid $color-page;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.container-footer-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-menu {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  text-decoration: none;
}

.container-input-information {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  gap: 20px;
}
.container-footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  //   gap: 60px;
}

.container-footer-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.footer-text-main-products {
  color: wheat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.footer-text-extra-products {
  color: $color-text-white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.footer-text-main-investors {
  color: wheat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.footer-text-extra-investors {
  color: $color-text-white;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.container-footer-investors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container-footer-products-investors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.container-footer-menu-products-investors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.footer-error-color {
  font-size: 18px;
  color: white;
}

.footer-complete-color {
  font-size: 18px;
  color: white;
}

textarea {
  resize: none;
}

.showAlert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error {
  background-color: $color-page;
  color: $color-text-white;
  border-radius: 22pt;
  padding: 20px;
  border: None;
  font-size: 20px;
}

.success {
  background-color: $color-page;
  color: $color-text-white;
  border: none;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  border-radius: 22pt;
  font-size: 20px;
}

.footer-soure {
  text-align: center;
  background-color: $color-page;
  color: white;
  width: 100%;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
